<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Section</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">


</head>
<body>
<div class="container">
    <header>
        <h1>Add New Section</h1>
    </header>
    <form method="POST" action="{{ url_for('add_section') }}">
        <div class="form-group">
            <label for="sectionTitle">Title:</label>
            <input type="text" class="form-control" name="title" id="sectionTitle" placeholder="Enter title" required>
        </div>
        <div class="form-group">
            <label for="sectionDescription">Description:</label>
            <textarea class="form-control" name="description" id="sectionDescription" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn-success">Add</button>
        
        
    </form>
    <button onclick="window.location.href='{{ url_for('librarian_dashboard') }}';" class="back-button">Back</button>

</div>
</body>
</html>
