<!DOCTYPE html>
<html>
<head>
    <title>Edit Section</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
<div >
    <header>
        <h2>Edit Section</h2>
    </header>
    <form method="POST" action="{{ url_for('update_section', section_id=section.id) }}">
        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" class="form-control" name="title" id="title" value="{{ section.title }}" required>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" name="description" id="description" rows="3" required>{{ section.description }}</textarea>
        </div>
        <button type="submit" class="btn btn-success">Update Section</button>
        <form action="{{ url_for('librarian_dashboard') }}" method="GET" >
            <button type="submit" class="btn-danger">Cancel</button>
        </form>
    </form>
</div>
</body>
</html>
