<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Librarian Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <button onclick="history.back();">Back</button>

<div class="container">
    <h2>Librarian Login</h2>
    <!-- Update the action attribute to point to the librarian_dashboard.html page -->
    <form action="{{ url_for('librarian_login') }}" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" placeholder="Enter username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" placeholder="Enter password" name="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
        </div>
        <button type="submit" class="btn-success"> Login</button>
    </form>
</div>
</body>
</html>
