<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Monitor Books</title>
</head>
<body>
<div>
    <h1>Monitor Books</h1>
    <div>
        {% for issue in issues %}
            <div >
                <p>
                    <strong>Book Title:</strong> {{ issue.book.title }}<br>
                    <strong>Issued To:</strong> {{ issue.user.name }}<br>
                    <strong>Date Issued:</strong> {{ issue.date_issued }}<br>
                    <strong>Return Date:</strong> {{ issue.return_date }}
                </p>
                <form action="{{ url_for('issue_book_to_user', issue_id=issue.id) }}" method="post">
                    <button type="submit">Issue</button>
                </form>
            </div>
        {% else %}
            <p>No pending requests.</p>
        {% endfor %}
    </div>
    <a href="{{ url_for('librarian_dashboard') }}">Back to Dashboard</a>
</div>

</body>
</html>
