<!DOCTYPE html>
<html>
<head>
    <title>{{ section.title }} - Books</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .book-card {
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 20px;
            margin: 10px 0;
            display: inline-block; /* Adjust for responsive layout */
            width: calc(33% - 20px); /* Three items per row, adjust as necessary for your layout */
        }
    </style>
</head>
<body>
<div>
    <form action="{{ url_for('view_books', section_id=section.id) }}" method="GET" >
        <input type="text"  placeholder="Search books by title" name="query">
        <div >
            <button type="submit">Search</button>
        </div>
    </form>

    <h2>{{ section.title }} - Books</h2>
    <div>
        {% for book in books %}
        <div class="book">
            <h3>{{ book.title }}</h3>
            <p>Author: {{ book.author }}</p>

           <!-- Inside the book-card div, before the issue details -->
            <form action="{{ url_for('view_books', section_id=section.id) }}" method="get">
                <input type="hidden" name="book_id" value="{{ book.id }}">
                <select name="user_id" onchange="this.form.submit()" >
                    <option value="">Select user</option>
                    {% for issue in book.issues %}
                        {% if issue.status == 'issued' %}
                            <option value="{{ issue.user_id }}" {% if issue.user_id|string == request.args.get('user_id', '') %}selected{% endif %}>
                                {{ issue.user.name }}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
            </form>


            <!-- Display the selected user's issue details -->
            {% if selected_issue and selected_issue.book_id == book.id %}
                <p>Issued To: {{ selected_issue.user.name }}</p>
                <p>Issued Date: {{ selected_issue.date_issued.strftime('%Y-%m-%d') }}</p>
                <p>Due Date: {{ selected_issue.due_date.strftime('%Y-%m-%d') if selected_issue.due_date else 'N/A' }}</p>
            {% endif %}

            <!-- Delete Book Button -->
            <form action="{{ url_for('delete_book', book_id=book.id) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this book?');">
                <button type="submit" class='btn-danger' >Delete</button>
            </form>
        </div>
        {% else %}
        <p>No books in this section yet.</p>
        {% endfor %}
    </div>
    <a href="{{ url_for('add_book', section_id=section.id) }}">Add Book</a> | 
    <a href="{{ url_for('librarian_dashboard') }}" >Back to Dashboard</a>
</div>
</body>
</html>
