<!DOCTYPE html>
<html>
<head>
    <title>User's Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Additional CSS and JavaScript -->
   
</head>
<body>
<div>
  
    <h1>User's Dashboard</h1>
    <nav>
        <!-- Links to other pages -->
        <a href="{{ url_for('user_mybooks') }}">MyBooks</a> |
        <a href="{{ url_for('logout') }}">Logout</a>
    </nav>

    <!-- Search and Filter Form -->
   

    <div class="search-box">
        <form action="{{ url_for('librarian_dashboard') }}" method="GET" style="display: flex; width: 100%;">
            <input type="text" placeholder="Search Sections" name="query">
            <button type="submit">Search</button>
        </form>
    </div>

    <div class="book-header">
        <div class="book-title">Title</div>
        <div class="book-author">Author</div>
        <div class="book-section">Section</div>
        <div class="book-action">Action</div>
    </div>
<hr>
    {% for book in books %}
    <div class="book-entry">
        <div class="book-title">
            {{ book.title }}
        </div>
        <div class="book-author">
            {{ book.author }}
        </div>
        <div class="book-section">
            {{ book.section.title }}
        </div>
        <div class="book-action">
            {% if book.id in issued_book_ids %}
                <button  disabled>Issued</button>
            {% elif book.id in requested_book_ids %}
                <button disabled>Requested</button>
            {% else %}
                <form action="{{ url_for('request_book', book_id=book.id) }}" method="post" >
                    <button type="submit" class='btn-success'>Request</button>
                </form>
            {% endif %}
        </div>
    </div>
    {% else %}
    <p>No books available.</p>
    {% endfor %}
    
</body>
</html>
