<!DOCTYPE html>
<html >
<head>
    <title>User's Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div >
    <h1>My Issued Books</h1>
    <div >
        <div class="section-header-mybook">Current Issued Books</div>
        {% for issue in issued_books %}
        <br>

        <div class="book-item">
            <div class="book-info-mybook">
                <strong>Title:</strong> {{ issue.book.title }}<br>
                <strong>Author:</strong> {{ issue.book.author }}<br>
                <strong>Date Issued:</strong> {{ issue.date_issued.strftime('%Y-%m-%d') }}<br>
                <strong>Due Date:</strong> {{ issue.due_date.strftime('%Y-%m-%d') if issue.due_date else 'Calculating...' }}
            </div>
            <div class="action-buttons-mybook" >
                <!-- Check if the issue is revoked or overdue -->
                {% if issue.revoked or issue.due_date < current_time %}
                <div>
                    Access to this book has been revoked due to overdue.
                    <form action="{{ url_for('return_book', issue_id=issue.id) }}" method="post">
                        <button type="submit">Return</button>
                    </form>
                </div>
                {% else %}
                <form action="{{ url_for('return_book', issue_id=issue.id) }}" method="post" onsubmit="return confirm('Are you sure you want to return the book?');">
                    <button type="submit">Return</button>
                </form>
                <form action="{{ url_for('serve_pdf', book_id=issue.book.id) }}" method="GET">
                    <button>Read</button>
                </form>
                {% endif %}
            </div>
        </div>
        {% else %}
        <div>No issued books found.</div>
        {% endfor %}
    </div>
    <br>
    
    <button onclick="window.location.href='{{ url_for('user_dashboard') }}';" class="back-button">Back</button>
</div>
</body>
</html>
